.image_preview_container {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
}

.asd {
-fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-pref-width: 100%;
    -fx-padding: 10px;
    -fx-margin-top: 10px;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: rgb(184, 184, 184);
    -fx-transition: all 3.3s ease-in-out;
}

.button1 {
    -fx-background-color: #ffffff;
    -fx-background-radius: 30 0 0 30;
}

.asd:hover {
    -fx-background-color: #E3D5CA;
    -fx-background-radius: 30 0 0 30;
}

.asd:active {
    -fx-background-radius: 30 0 0 30;
}

.side-bar {
    -fx-background-color: #fbfbfc;
    -fx-padding: 20px;
}
.text{
    -fx-text-fill: blue;
    font-family: initial;
}
.side-bar-button {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-pref-width: 100%;
    -fx-padding: 10px;
    -fx-margin-top: 10px;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: rgb(184, 184, 184);
    -fx-transition: all 3.3s ease-in-out;
}

.side-bar-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-transition: all 3.3s ease-out;
    -fx-border-color: transparent;
}

.side-bar-button:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-color: transparent;
}


.chart-plot-background {
    -fx-background-color: transparent;
}

.calendarview-background {
    -fx-background-color: transparent;
}

.chart-text {
    -fx-background-color: white;
}

.chart-vertical-grid-lines {
    -fx-stroke: #dedddc;
    -fx-stroke-width: 0.5;
    -fx-background-color: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #dedddc;
    -fx-stroke-width: 0.5;
}

.table-row-cell:selected {
    -fx-background-color: #47c496;
}

.list-cell:selected {
    -fx-background-color: gray;
}
.list-cell:filled:selected {
    -fx-background-color: red;
    -fx-text-background-color: #47c496;
}
.list-view .list-cell:even {
    -fx-background-color: #f2f5f9;
}

.list-view .list-cell:odd {
    -fx-background-color: #f2f5f9;
}
* {
    -style8-color: rgba(255, 0, 0, 0.9);
    -style9-color: rgba(0, 0, 255, 0.9);
}

.style8-icon, .style8-icon-small {
    -fx-fill: -style8-color;
    -fx-stroke: -style8-color;
}

.style8-entry {
    -fx-background-color: derive(-style8-color, 70.0%) !important;
    -fx-border-color: -style8-color;
}

.style8-entry:selected {
    -fx-background-color: -style8-color;
}

.style8-entry-time-label, .style8-entry-title-label {
    -fx-text-fill: derive(-style8-color, -30.0%);
}

.style8-entry-small:selected {
    -fx-background-color: -style8-color;
}

.style8-entry-small-full-day {
    -fx-background-color: derive(-style8-color, 70.0%);
}

.style8-entry-small-title-label-full-day {
    -fx-text-fill: derive(-style8-color, -30.0%);
}

.style8-entry-small-full-day:selected {
    -fx-background-color: -style8-color;
}

.style8-visibility-checkbox > .box,
.style8-source-grid-item-box {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border,
    -fx-inner-border, derive(-style8-color, 70.0%);
}

.style8-visibility-checkbox:focused > .box {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color,
    -fx-faint-focus-color, derive(-style8-color, 70.0%);
}

.style8-entry-popover-title {
    -fx-text-fill: derive(-style8-color, -50.0%) !important;
}

.style8-calendar-header {
    -fx-background-color: derive(-style8-color, 70.0%);
}
